
.teacher-back-to-all-exam-button{

}

.teacher-exam-detail-card{
    display: flex;
    flex-direction: column;
}
.teacher-exam-detail-base{
    width: 95%;
    margin: auto;
    margin-top: 20px;
}
.teacher-exam-detail-div{
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}
.teacher-exam-detail-description{
    font-size: 20px;
}
.teacher-exam-detail-start-end{
    color: grey;
}



.teacher-paper-card{

}
.teacher-paper-detail-text{
    font-size: 15px;
}