.root-div{
    display: flex;
    flex-direction: column;
}

.navigate-breadcrumb{
    margin-top: 30px;
    margin-left: 40px;

    font-size: 20px;
}
.show-all-department-div{
    margin-top: 10px;
    margin-left: 40px;

    display: flex;
    flex-wrap: wrap;
}