
.teacher-myapplication-root-div{
    height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}

.teacher-myapplication-label{
    margin-top: 35px;
    font-size: 20px;
}

.teacher-myapplication-tabs{
    
}
.teacher-myapplication-segmented{
    margin-left: auto;
}

.teacher-myapplication-list-card{
    margin-top: 10px;
}

.teacher-myapplication-list{
    min-height: 650px;
    display: flex;
    flex-direction: column;
}
.teacher-myapplication-list-item-icon{
    height: 125px;
    width: 200px;
    object-fit: contain;
    margin-right: 20px;
}