
.student-exam-detail-root{
    display: flex;
    flex-direction: column;
}

.student-back-to-all-exam-div{
    width: 95%;
    margin: auto;
    display: flex;
}
.student-back-to-all-exam-button{
    margin-top: 25px;
    margin-left: 0px;
}

.student-exam-detail-card{
    display: flex;
    flex-direction: column;

    width: 95%;
    margin: auto;
}
.student-exam-detail-card-info{
    display: flex;
    flex-direction: column;
}

.exam-info-form-row{
    margin-bottom: 0px;
}

.student-inner-paper-card{
    margin-top: 20px;
}

.student-paper-detail-button-div{
    display: flex;
}
.student-upload-respondent{
    margin-top: 20px;
    margin-left: 50px;
}

.student-paper-status{
    margin-left: auto;
    width: 200px;
    font-size: 20px;
}

.respondent-uploader{
    display: flex;
    flex-direction: column;
    width: auto !important;
    height: 100px;
}